<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FMUtils.KeyboardHook" version="1.0.140.2145" targetFramework="net461" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net461" />
  <package id="SimWinKeyboard" version="1.0.2" targetFramework="net461" />
  <package id="SimWinMouse" version="1.0.2" targetFramework="net461" />
  <package id="Tobii.Interaction" version="0.7.3" targetFramework="net461" />
</packages>